SUPABASE_URL=https://owhwpjcgapzajcnzzook.supabase.co
SUPABASE_KEY=sb_publishable_bAP_jgWeKU7sU4qRl7D8Fw_5L7BzCwP
SUPABASE_SERVICE_ROLE_KEY=sb_secret_Aglda83zkcLyTTYfri6f4w_slPqpJB5
JWT_SECRET_KEY=smartfloorplan_capstone_project_2026
DEBUG=True
JWT_ACCESS_TOKEN_EXPIRES=86400